.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.greeting {
    text-transform: uppercase !important;
}

.action {
    margin: 40px auto !important;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    margin: 10px 1% !important;
}