.container {
    background: #cc2c2c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    user-select: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.logoContainer {
    width: 95vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 75px;
    pointer-events: none;
}