.container {
    background: #cc2c2c;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    user-select: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.logo {
    height: 75px;
    pointer-events: none;
}

.title {
    font-size: 3rem !important;
}

@media (max-width: 400px) {
    .title {
        font-size: 2.5rem !important;
    }
}