.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.minutes, .seconds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time {
    font-size: 5rem !important;
}

.colon {
    padding-bottom: 12px !important;
    font-size: 5rem !important;
}

@media (max-height: 400px) {
    .time {
        font-size: 4rem !important;
        line-height: 0.9 !important;
    }
    .colon {
        font-size: 4rem !important;
        line-height: 0.9 !important;
    }
}